.banner {
  width: 100%;
  height: 480px;
  position: relative;
  background-color: #F7EEDD;
  background-image: url('../img/header-bg.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media-xl {
    height: 200px;
    background-image: url('../img/reg-img-3.png'), url('../img/reg-img-2.png'), url('../img/reg-img-1.png');
    background-position: top -20px right -40px, top 15px left calc(50% - 75px), bottom -100px left;
    background-size: auto;
  }

  @include media-sm {
    height: 165px;
    background-image: url('../img/reg-img-mobile-3.png'), url('../img/reg-img-2.png'), url('../img/reg-img-mobile-1.png');
    background-position: top 10px right, top left, bottom -60px left;
    background-size: auto, 210px 80px, auto;
  }

  &__label {
    width: 665px;
    height: 260px;
    position: absolute;
    right: 50px;
    bottom: 0;
    transform: translateY(40%);
    background-image: url('../img/header-label-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    @include media-xl {
      width: 270px;
      height: 105px;
      right: 15px;
    }

    @include media-sm {
      width: 190px;
      height: 73px;
      right: 10px;
    }

    p {
      max-width: 360px;
      position: absolute;
      top: 90px;
      left: 187px;
      color: #fff;
      font-family: 'HelveticaNeueBlackCondensed', sans-serif;
      font-size: 28px;
      font-weight: 900;
      text-align: center;
      text-transform: uppercase;

      @include media-xl {
        max-width: 140px;
        font-size: 11px;
        top: 35px;
        left: 80px;
      }

      @include media-sm {
        max-width: 110px;
        font-size: 8px;
        top: 25px;
        left: 50px;
      }
    }
  }
}
