.calendar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0 50px;

  @include media-lg {
    padding: 0 18px;
  }

  @include media-sm {
    padding: 0 12px;
  }

  &__aside {
    width: 292px;
    flex-shrink: 0;
    margin-right: 40px;

    @media screen and (max-width: 1500px) {
      width: 200px;
      margin-right: 20px;
    }

    @include media-lg {
      display: none;
    }
  }

  &__rules {
    margin-top: 40px;
    margin-bottom: 20px;

    @media screen and (max-width: 1500px) {
      margin-top: 0;
    }
  }
}

.rules {
  width: 292px;
  height: 492px;
  padding: 25px 15px;
  background-image: url('../img/calendar-aside-bg-1.png');
  background-repeat: no-repeat;
  background-size: contain;

  @media screen and (max-width: 1500px) {
    width: 200px;
    height: 300px;
    background-image: url('../img/calendar-aside-bg-1-style-2.png');
  }

  &__title {
    margin-bottom: 10px;
    color: #3f3a31;
    font-family: 'HelveticaNeueBlackCondensed', sans-serif;
    font-size: 43px;
    font-weight: 900;
    text-transform: uppercase;

    @media screen and (max-width: 1500px) {
      margin-bottom: 5px;
      font-size: 20px;
      text-align: center;
    }
  }

  &__info {
    margin-bottom: 25px;
    color: #3f3a31;
    font-size: 18px;

    @media screen and (max-width: 1500px) {
      margin-bottom: 15px;
      font-size: 15px;
      text-align: center;
    }
  }

  &__labels {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__label {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    color: #f7eedc;
    font-family: 'HelveticaNeueBoldCondensed', sans-serif;
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: .95;

    @media screen and (max-width: 1500px) {
      height: auto;
      margin: 0 auto;
      padding: 4px 8px;
      font-size: 14px;
      text-align: center;
    }

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    // Categories
    &_simplicity {
      background-color: $simplicity;
    }

    &_responsibility {
      background-color: $responsibility;
    }

    &_solidarity {
      background-color: $solidarity;
    }

    &_discipline {
      background-color: $discipline;
    }

    &_entrepreneurial-spirit {
      background-color: $entrepreneurial-spirit;
    }
  }
}

.signs {
  width: 292px;
  height: 430px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 15px;
  background-image: url('../img/calendar-aside-bg-2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @media screen and (max-width: 1500px) {
    width: 200px;
    height: 340px;
    background-image: url('../img/calendar-aside-bg-2-style-2.png');
  }

  &__title {
    margin-bottom: 10px;
    color: #fff;
    font-family: 'HelveticaNeueBlackCondensed', sans-serif;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;

    @media screen and (max-width: 1500px) {
      margin-bottom: 5px;
      font-size: 20px;
      text-align: center;
    }
  }

  &__info {
    margin-bottom: 25px;
    color: #fff;
    font-size: 18px;

    @media screen and (max-width: 1500px) {
      margin-bottom: 15px;
      font-size: 12px;
      text-align: center;
    }
  }

  &__sign {
    display: flex;
    align-items: center;
    color: #fff;
    font-style: 18px;

    @media screen and (max-width: 1500px) {
      padding-right: 15px;
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 25px;

      @media screen and (max-width: 1500px) {
        margin-bottom: 15px;
      }
    }

    img {
      width: 29px;
      height: 29px;
      margin-right: 15px;
      object-fit: contain;

      @media screen and (max-width: 1500px) {
        width: 19px;
        height: 19px;
        margin-right: 8px;
      }
    }
  }
}
