.custom-checkbox {
  // Variables
  $checkbox-size: 24px;
  $checkbox-gap: 0px;
  $checkbox-bg-color: transparent;
  $checkbox-border-radius: 0px;
  $checkbox-border-size: 2px;
  $checkbox-border-color: #f7eedc;
  $checkbox-focus-shadow-color: #f7eedc;
  $checkmark-size: 80%;
  $checkmark-fill: #f7eedc;

  display: inline-block;
  position: relative;
  padding-left: calc(#{$checkbox-size} + #{$checkbox-gap});

  // Default checkbox input
  &__checkbox-default {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  // Custom checkbox
  &__checkbox-custom {
    position: absolute;
    top: calc(50% - #{$checkbox-size / 2});
    width: $checkbox-size;
    height: $checkbox-size;
    margin-left: calc((#{$checkbox-size} + #{$checkbox-gap}) * -1);
    border-radius: $checkbox-border-radius;
    box-sizing: border-box;
    border: $checkbox-border-size solid $checkbox-border-color;
    background-color: $checkbox-bg-color;
    cursor: pointer;
    transition: all .3s ease;
  }

  // Checkmark
  &__checkmark {
    width: $checkmark-size;
    height: $checkmark-size;
    position: absolute;
    top: calc(50% - #{$checkmark-size / 2});
    left: calc(50% - #{$checkmark-size / 2});
    fill: $checkmark-fill;
    opacity: 0;
  }

  // Label
  &__label {
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
  }

  // Checked
  &__checkbox-default:checked + &__checkbox-custom {
    .custom-checkbox__checkmark {
      opacity: 1;
    }
  }

  // Focused
  &__checkbox-default:focus + &__checkbox-custom {
    box-shadow: 0 0 5px 1px $checkbox-focus-shadow-color;
    outline: none;
  }

  // Disabled
  &__checkbox-default:disabled + &__checkbox-custom,
  &__checkbox-default:disabled ~ &__label {
    opacity: .5;
    cursor: default;
  }
}
