.checkbox-cup {
  // Variables
  $checkbox-size: 19px;

  width: $checkbox-size;
  height: $checkbox-size;
  flex-shrink: 0;
  position: relative;

  // Default checkbox input
  &__checkbox-default {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  // Custom checkbox
  &__checkbox-custom {
    width: 100%;
    height: 100%;
    display: block;
    background-color: transparent;
    background-image: url('../img/cup-active.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
  }

  &_style-2 {
    .checkbox-cup__checkbox-custom {
      background-image: url('../img/cup-active-style-2.svg');
    }

    // Checked
    .checkbox-cup__checkbox-default:checked + .checkbox-cup__checkbox-custom {
      background-image: url('../img/cup-not-active-style-2.svg');
    }

    // Disabled
    .checkbox-cup__checkbox-default:disabled + .checkbox-cup__checkbox-custom {
      background-image: url('../img/cup-disabled-style-2.svg');
      cursor: default;
    }
  }

  // Checked
  &__checkbox-default:checked + &__checkbox-custom {
    background-image: url('../img/cup-not-active.svg');
  }

  // Disabled
  &__checkbox-default:disabled + &__checkbox-custom {
    background-image: url('../img/cup-disabled.svg');
    cursor: default;
  }
}
