@import './nav.scss';

.header {
  padding-top: 18%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #f7eedc;
  background-image: url('../img/header-bg.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;

  @include media-lg {
    justify-content: flex-start;
    padding-top: 58px;
    background-image: none;
  }

  // Info
  &__info {
    width: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
    padding: 0 50px;

    @media screen and (max-width: 1800px) {
      flex-direction: column-reverse;
      align-items: center;
    }

    @include media-lg {
      padding: 0;
    }
  }

  &__slogan {
    height: 150px;
    display: none;
    position: relative;
    background-color: #F7EEDD;
    background-image: url('../img/slogan.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 60% auto;

    @include media-lg {
      display: block;
    }

    @include media-md {
      background-position: left top 40%;
      background-size: 80% auto;
    }

    @include media-sm {
      height: 95px;
      background-position: left center;
      background-size: 78% auto;
    }

    img {
      position: absolute;
      top: 0;
      right: 0;

      @include media-sm {
        height: 100px;
        top: 12px;
      }
    }
  }

  // Label
  &__label {
    width: 665px;
    height: 262px;
    flex-shrink: 0;
    position: relative;
    background-image: url('../img/header-label-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    @media screen and (max-width: 1800px) {
      width: 442px;
      height: 175px;
      margin-bottom: 20px;
    }

    @include media-lg {
      display: none;
    }

    p {
      max-width: 360px;
      position: absolute;
      top: 93px;
      left: 187px;
      color: #fcf9f4;
      font-family: 'HelveticaNeueBlackCondensed', sans-serif;
      font-size: 27px;
      font-weight: 900;
      text-align: center;
      text-transform: uppercase;

      @media screen and (max-width: 1800px) {
        max-width: 250px;
        top: 60px;
        left: 120px;
        font-size: 18px;
      }
    }
  }

  // Nav
  &__nav {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 50px;

    @include media-lg {
      padding: 0;
    }
  }
}

// User Info
.user-info {
  width: 936px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  padding: 0 30px 0 40px;
  background-image: url('../img/header-user-info-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  @include media-lg {
    padding: 15px;
  }

  @include media-lg {
    width: 100%;
    height: 167px;
    background-image: url('../img/header-user-info-mobile-bg.png');
    background-repeat: repeat-x;
    background-size: cover;
  }

  &__greeting {
    padding-left: 5px;
    font-family: 'HelveticaNeueBoldCondensed', sans-serif;
    font-size: 30px;
    font-weight: 700;

    @include media-lg {
      padding: 0;
      color: #fff;
      font-size: 16px;
      text-align: center;
    }
  }

  &__user-name {
    padding-left: 5px;
    font-family: 'HelveticaNeueBlackCondensed', sans-serif;
    font-size: 56px;
    font-weight: 900;
    text-transform: uppercase;

    @include media-lg {
      padding: 0;
      color: #fff;
      font-size: 20px;
      text-align: center;
    }

    @include media-sm {
      max-width: 300px;
      margin: 0 auto;
    }
  }

  &__status {
    margin-bottom: 15px;
    padding-left: 5px;
    padding-bottom: 15px;
    border-bottom: 4px solid #f7eedc;
    color: #d3ba91;
    font-family: 'HelveticaNeueBoldCondensed', sans-serif;
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;

    @include media-lg {
      margin: 0;
      margin-bottom: 10px;
      padding: 0;
      border-bottom: none;
      font-size: 14px;
      text-align: center;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-lg {
      flex-direction: column-reverse;
    }
  }

  &__stats {
    display: flex;
    align-items: center;
    padding-left: 10px;

    li {
      display: flex;
      align-items: flex-end;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  &__value {
    margin-right: 10px;
    font-size: 30px;

    @include media-lg {
      margin-right: 5px;
      color: #fff;
      font-size: 20px;
    }
  }

  &__label {
    padding-bottom: 2px;
    font-size: 19px;
    color: #d3ba91;

    @include media-lg {
      font-size: 12px;
    }
  }

  &__btn-exit {
    width: 140px;
    height: 40px;
    background-color: #d3ba91;
    color: #8c7454;
    font-size: 19px;
    text-transform: uppercase;
    line-height: 40px;
    text-align: center;
    position: relative;

    @include media-lg {
      width: auto;
      height: auto;
      margin-bottom: 15px;
      background-color: transparent;
      color: #fff;
      font-size: 12px;
      text-transform: initial;
      text-decoration: underline;
      line-height: 1;

      &::after {
        content: '';
        width: 350px;
        height: 1px;
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #F7EEDD;
      }
    }
  }
}

// Navbar
.navbar {
  height: 58px;
  width: 100%;
  display: none;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 0 20px;
  background-color: #fff;

  @include media-lg {
    display: flex;
  }

  @include media-sm {
    padding: 0 10px;
  }

  &__btn-open-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
    background-color: transparent;
    color: #8B7454;
    font-family: 'HelveticaNeueBoldCondensed', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

    svg {
      width: 28px;
      height: 20px;
      margin-right: 4px;
      margin-bottom: 2px;
      fill: #8B7454;
    }
  }

  &__btn-calendar,
  &__btn-vote {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: #8B7454;
    font-family: 'HelveticaNeueBoldCondensed', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;

    svg {
      width: 20px;
      height: 20px;
      margin-right: 4px;
      margin-bottom: 2px;
      fill: #8B7454;
    }
  }

  &__btn-calendar {
    margin-right: 20px;
  }
}
