.mask {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 70px 50px 50px 50px;

  @include media-lg {
    flex-direction: column;
    padding: 30px 0;
  }

  &__info {
    width: 292px;
    height: 270px;
    flex-shrink: 0;
    margin-top: 40px;
    padding: 20px 25px 20px 30px;
    background-image: url('../img/info-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: #3f3a31;

    @include media-lg {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 0;
      padding: 30px 20px 35px 20px;
      background-image: url('../img/info-bg-mobile.png');
      background-repeat: repeat-x;
      background-size: auto 100%;
    }
  }

  &__title {
    margin-bottom: 35px;
    font-family: 'HelveticaNeueBlackCondensed', sans-serif;
    font-size: 43px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.05;
    word-spacing: 9999999px;

    @include media-lg {
      margin-bottom: 5px;
      color: #8B7454;
      font-size: 20px;
      text-align: center;
      word-spacing: 0;
    }
  }

  &__description {
    max-width: 190px;
    font-size: 18px;
    line-height: 1.2;

    @include media-lg {
      color: #8B7454;
      font-size: 14px;
      text-align: center;
    }
  }

  &__mobile-info {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: -25px;

    @include media-lg {
      display: flex;
    }
  }

  &__mobile-qr {
    width: 224px;
    height: 224px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding-top: 5px;
    background-image: url('../img/info-bg-2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: #3f3a31;

    @include media-sm {
      display: none;
    }

    img {
      width: 125px;
      height: 125px;
      object-fit: contain;
      margin-bottom: 15px;
    }

    p {
      color: #8B7454;
      font-family: 'HelveticaNeueBlackCondensed', sans-serif;
      font-size: 20px;
      font-weight: 900;
      text-transform: uppercase;
    }
  }

  &__mobile-label {
    margin: 0 15px;
    color: #8B7454;
    font-family: 'HelveticaNeueBlackCondensed', sans-serif;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;

    @include media-sm {
      display: none;
    }
  }

  &__mobile-description {
    width: 224px;
    height: 224px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding-top: 5px;
    background-image: url('../img/info-bg-2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: #3f3a31;

    p {
      color: #8B7454;
      font-family: 'HelveticaNeueBlackCondensed', sans-serif;
      font-size: 20px;
      font-weight: 900;
      text-transform: uppercase;
      text-align: center;

      a {
        color: #8B7454;
        text-decoration: underline;
      }
    }
  }


  &__label-1 {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    margin-top: 120px;
    padding: 15px;
    border: 3px solid #3f3a31;
    border-left: none;
    border-top: none;
    color: #3f3a31;
    font-family: 'HelveticaNeueBoldCondensed', sans-serif;
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;

    @media screen and (max-width: 1600px) {
      width: auto;
      height: auto;
      position: absolute;
      border: none;
      top: 160px;
      left: 50%;
      transform: translateX(-50%);
    }

    @include media-lg {
      display: none;
    }

    &::before {
      content: '';
      width: 263px;
      height: 0;
      position: absolute;
      bottom: -3px;
      left: -263px;
      border-bottom: 3px solid #3f3a31;

      @media screen and (max-width: 1600px) {
        display: none;
      }
    }
  }

  &__label-2 {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: flex-end;
    margin-top: 120px;
    padding: 15px;
    border: 3px solid #3f3a31;
    border-right: none;
    border-top: none;
    color: #3f3a31;
    font-family: 'HelveticaNeueBoldCondensed', sans-serif;
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;

    @media screen and (max-width: 1600px) {
      width: auto;
      height: auto;
      position: absolute;
      border: none;
      top: 190px;
      left: 50%;
      transform: translateX(-50%);
    }

    @include media-lg {
      display: none;
    }

    a {
      margin-left: 5px;
      color: #3f3a31;
      text-decoration: underline;
    }
  }

  &__qr {
    width: 220px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
    margin: 0 45px;

    @include media-lg {
      display: none;
    }

    &::before,
    &::after {
      content: '';
      width: 45px;
      height: 0;
      position: absolute;
      top: 119px;
      border-bottom: 3px solid #3f3a31;

      @media screen and (max-width: 1600px) {
        display: none;
      }
    }

    &::before {
      left: -45px;
    }

    &::after {
      right: -45px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__info-2 {
    width: 292px;
    height: 270px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-top: 40px;
    padding: 20px 25px 20px 40px;
    background-image: url('../img/info-bg-2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: #3f3a31;

    @include media-lg {
      display: none;
    }
  }

  &__text {
    color: #3f3a31;
    font-family: 'HelveticaNeueBoldCondensed', sans-serif;
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;
  }
}
