.members-list {
  width: 470px;
  height: 410px;
  display: none;
  position: relative;
  padding: 30px 0 0 30px;
  border: 3px solid #f7eedc;
  background-color: #fcf9f4;

  @include media-md {
    width: 325px;
    height: 320px;
    padding: 10px 0 0 10px;
    background-color: #fff;
  }

  &::after {
    content: '';
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #c7c4c0;
    z-index: -1;

    @include media-lg {
      width: 30px;
      background-color: #C7C4C0;
    }
  }

  &_active {
    display: block;
  }

  &__title {
    margin-bottom: 25px;
    color: #3f3a31;
    font-family: 'HelveticaNeueBoldCondensed', sans-serif;
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;

    @include media-lg {
      color: #8B7454;
      font-size: 14px;
    }
  }

  &__btn-close {
    width: 16px;
    height: 18px;
    position: absolute;
    top: 10px;
    right: 17px;
    background-color: transparent;

    @include media-lg {
      right: 7px;
    }

    svg {
      width: 100%;
      height: 100%;
      stroke: #f7eedc;

      @include media-lg {
        stroke: #fff;
      }
    }
  }

  &__search {
    height: 240px;
    position: relative;
    margin-right: 17px;
    overflow: auto;

    @include media-md {
      height: 190px;
      margin-right: 8px;
    }
  }

  &__search-input {
    width: 360px;
    height: 40px;
    margin-bottom: 20px;
    padding: 0 10px;
    border: none;
    outline: none;
    color: #8B7454;
    background-color: #f7eedc;
    font-size: 14px;
    font-family: inherit;
    text-transform: uppercase;
    z-index: 9;

    @include media-md {
      width: 275px;
      top: 40px;
      left: 10px;
    }
  }

  &__member {
    display: flex;
    position: relative;
    margin-right: 50px;
    color: #3f3a31;
    font-size: 18px;

    @include media-md {
      color: #3F3A31;
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__checkbox {
    margin-right: 10px;
  }
}
