.nav {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;

  @include media-lg {
    width: 100%;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    background-image: url('../img/mobile-nav-bg.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    z-index: 999;
  }

  @include media-sm {
    background-image: url('../img/mobile-nav-bg-2.png');
    background-repeat: no-repeat;
    background-position: left bottom;
  }

  &__label {
    display: none;
    margin-bottom: 45px;
    color: #8B7454;
    font-family: 'HelveticaNeueBlackCondensed', sans-serif;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;

    @include media-lg {
      display: block;
    }

    @media screen and (max-height: 600px) {
      margin-top: 10px;
    }
  }

  &__mobile-slogan {
    width: 100%;
    height: 160px;
    display: none;
    position: relative;
    margin-bottom: 45px;
    background-color: #F7EEDD;
    background-image: url('../img/slogan.png');
    background-repeat: no-repeat;
    background-position: left top 25%;
    background-size: 80% auto;

    @include media-lg {
      display: flex;
    }

    @include media-sm {
      height: 100px;
      background-position: left bottom 25%;
      background-size: 78% auto;
    }

    @media screen and (max-height: 600px) {
      display: none;
    }

    img {
      position: absolute;
      top: 0;
      right: 0;

      @include media-sm {
        height: 100px;
        top: auto;
        bottom: -20px;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;

    @include media-lg {
      width: 100%;
      flex-direction: column;
      margin-bottom: 30px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 120px;

      @include media-xl {
        margin-right: 30px;
      }

      @include media-lg {
        margin-right: 0;
        margin-bottom: 12px;
      }
    }

    @include media-lg {
      width: 100%;
    }
  }

  &__link {
    color: #3f3a31;
    font-family: 'HelveticaNeueBoldCondensed', sans-serif;
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    &_active {
      border-bottom: 2px solid #787266;
    }

    @include media-lg {
      width: 100%;
      display: block;
      padding: 8px 0;
      background-color: #F7EEDD;
      color: #3F3A31;
      font-family: 'HelveticaNeueBlackCondensed', sans-serif;
      font-size: 20px;
      font-weight: 900;

      &_active {
        border-bottom: none;
        background-color: transparent;
      }
    }
  }

  &__btn-close-nav {
    display: none;
    margin-bottom: 20px;
    background-color: transparent;
    color: #8B7454;
    font-size: 14px;

    @include media-lg {
      display: flex;
    }

    svg {
      width: 17px;
      height: 17px;
      margin-left: 8px;
    }
  }
}

.show-nav {
  display: flex;
}
