.plan {
  width: 100%;

  &__select {
    display: none;
    justify-content: center;
    margin-bottom: 20px;

    @include media-lg {
      display: flex;
    }

    select {
      width: 350px;
    }
  }

  &__week {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -9px;
    margin-bottom: 10px;

    @include media-lg {
      display: none;

      &_active {
        display: block;
      }
    }
  }

  &__day {
    width: 100%;
    max-width: calc(100% / 5 - 18px);
    margin: 0 9px 20px 9px;

    @include media-lg {
      max-width: calc(100% - 18px);
    }
  }

  &__name {
    margin-bottom: 15px;
    color: #8c7454;
    font-family: 'HelveticaNeueBoldCondensed', sans-serif;
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;

    @media screen and (max-width: 1500px) {
      margin-bottom: 10px;
      font-size: 14px;
    }

    @include media-lg {
      margin-bottom: 10px;
      font-size: 14px;
      text-align: left;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 14px;

      @include media-lg {
        margin-bottom: 10px;
      }
    }
  }
}

.day-plan {
  position: relative;

  @include media-xl {
    max-width: 100%;
    min-height: auto;
    margin: 0;
    margin-bottom: 20px;
  }

  // Categories
  &_simplicity {
    background-color: $simplicity;
  }

  &_responsibility {
    background-color: $responsibility;
  }

  &_solidarity {
    background-color: $solidarity;
  }

  &_discipline {
    background-color: $discipline;
  }

  &_entrepreneurial-spirit {
    background-color: $entrepreneurial-spirit;
  }

  // Vote
  &_vote-success {
    &::after {
      content: '';
      width: 29px;
      height: 29px;
      position: absolute;
      top: 15px;
      right: 11px;
      background-image: url('../img/vote-success.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;

      @include media-lg {
        top: 10px;
      }
    }
  }

  &_vote-fail {
    &::after {
      content: '';
      width: 29px;
      height: 29px;
      position: absolute;
      top: 15px;
      right: 11px;
      background-image: url('../img/vote-fail.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;

      @include media-lg {
        top: 10px;
      }
    }
  }

  &_speaker {
    background-color: #f7eedc;

    .day-plan__time,
    .day-plan__my-sessin,
    .day-plan__description,
    .day-plan__format,
    .day-plan__speakers,
    .day-plan__speakers-item {
      color: #3f3a31;

      p, span {
        color: #3f3a31;
      }
    }

    .day-plan__btn-status {
      background: transparent;
      border: 1px solid #3f3a31;
    }
  }

  &__main {
    width: 100%;
    padding: 15px 10px 5px 10px;

    @include media-lg {
      padding: 10px;
    }
  }

  // Arrow rotate
  .active {
    .day-plan__aside {
    .day-plan__arrow-toggle {
        transform: rotate(180deg);
      }
    }
  }

  .visible {
    padding-right: 50px;
  }

  .hidden {
    display: none;
    padding-right: 50px;
  }

  &__time {
    margin-bottom: 10px;
    color: #fff;
    font-family: 'HelveticaNeueBoldCondensed', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;

    @media screen and (max-width: 1500px) {
      font-size: 14px;
    }

    @include media-lg {
      font-size: 14px;
    }
  }

  &__my-sessin {
    margin: 10px 0;
    font-family: 'HelveticaNeueBoldCondensed', sans-serif;
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__description {
    margin: 10px 0;
    color: #fff;
    font-size: 18px;

    @media screen and (max-width: 1500px) {
      font-size: 14px;
    }
  }

  &__label {
    margin: 5px 0;
    color: #3f3a31;
    font-family: 'HelveticaNeueBoldCondensed', sans-serif;
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;

    @media screen and (max-width: 1500px) {
      font-size: 14px;
    }
  }

  &__external-speaker {
    margin: 10px 0;

    p {
      color: #fff;
      font-family: 'HelveticaNeueBoldCondensed', sans-serif;
      font-weight: 700;
      text-transform: uppercase;

      &:first-child {
        font-size: 14px;

        @media screen and (max-width: 1500px) {
          font-size: 12px;
        }
      }

      &:last-child {
        font-size: 23px;

        @media screen and (max-width: 1500px) {
          font-size: 14px;
        }
      }
    }
  }

  &__btn-status {
    width: 100%;
    height: 40px;
    display: block;
    margin-bottom: 10px;
    font-family: 'HelveticaNeueBoldCondensed', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;

    @media screen and (max-width: 1500px) {
      font-size: 12px;
    }

    @include media-lg {
      width: 150px;
    }

    &_sign-up {
      background-color: #f7eedc;
      color: #8B7454;
    }

    &_signed-up {
      background-color: rgba(0, 0, 0, .2);
      color: #f7eedc;
    }

    &_session-end {
      border: 1px solid #eee6d2;
      background-color: transparent;
      color: #fff;
    }
  }

  &__format {
    @include media-lg {
      margin-bottom: 10px;
    }

    span {
      color: #fff;
      font-size: 18px;

      @media screen and (max-width: 1500px) {
        font-size: 14px;
      }

      @include media-lg {
        font-size: 12px;
      }

      &:first-child {
        font-family: 'HelveticaNeueBoldCondensed', sans-serif;
        font-size: 23px;
        font-weight: 700;
        text-transform: uppercase;

        @media screen and (max-width: 1500px) {
          font-size: 18px;
        }

        @include media-lg {
          font-size: 14px;
        }
      }
    }
  }

  &__speakers {
    margin-bottom: 15px;

    & > p {
      color: #fff;
      font-family: 'HelveticaNeueBoldCondensed', sans-serif;
      font-size: 23px;
      font-weight: 700;
      text-transform: uppercase;

      @media screen and (max-width: 1500px) {
        font-size: 18px;
      }

      @include media-lg {
        margin-bottom: 10px;
        font-size: 14px;
      }
    }
  }

  &__speakers-item {
    display: flex;
    align-items: center;
    position: relative;
    color: #fff;
    font-size: 18px;

    @media screen and (max-width: 1500px) {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-bottom: 3px;
    }
  }

  &__checkbox {
    margin-right: 7px;
  }

  &__aside {
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, .2);
  }

  &__arrow-toggle {
    width: 25px;
    height: 16px;
    margin-top: auto;
    transition: transform .4s ease-in-out;
    background-image: url('../img/arrow-down.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    cursor: pointer;
  }
}
