.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background: transparent;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  align-items: center;
  pointer-events: none;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  color: #fff;

  &__close {
    width: 17px;
    height: 17px;
    position: absolute;
    top: 16px;
    right: 12px;
    background-color: transparent;

    svg {
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
  }

  &__title {
    margin-bottom: 5px;
    font-family: 'HelveticaNeueBlackCondensed', sans-serif;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
  }

  &__text {
    max-width: 175px;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
  }
}

.js-popup-show {
  z-index: 999;
  opacity: 1;
  pointer-events: visible;
}

.popup__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: transparent;
  width: 100%;
}

#popup-calendar .popup__body {
  width: 224px;
  height: 299px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 15px;
  background-image: url('../img/popup-calendar-bg.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;

  .popup__title {
    color: #3F3A31;
  }

  .popup__text {
    color: #3F3A31;
  }

  .popup__colors {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .popup__color {
    padding: 6px 8px;
    color: #fff;
    font-family: 'HelveticaNeueBoldCondensed', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    // Categories
    &_simplicity {
      background-color: $simplicity;
    }

    &_responsibility {
      background-color: $responsibility;
    }

    &_solidarity {
      background-color: $solidarity;
    }

    &_discipline {
      background-color: $discipline;
    }

    &_entrepreneurial-spirit {
      background-color: $entrepreneurial-spirit;
    }
  }
}

#popup-vote .popup__body {
  width: 224px;
  height: 282px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 15px;
  background-image: url('../img/popup-vote-bg.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;

  .popup__title {
    margin-bottom: 15px;
    color: #fff;
  }

  .popup__text {
    color: #fff;
  }

  .popup__status-list {

  }

  .popup__vote-status {
    display: flex;
    font-size: 12px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    img {
      width: 19px;
      height: 19px;
      object-fit: contain;
      margin-right: 8px;
    }
  }
}
