.prizes {
  display: flex;
  position: relative;
  padding: 0 50px;
  overflow: hidden;

  @media screen and (max-width: 1650px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  @include media-lg {
    flex-direction: column;
    align-items: center;
    padding: 0;
    padding-bottom: 300px;

    @media screen and (max-width: 650px) {
      padding-bottom: 175px;
    }
  }

  @include media-xs {
    padding-bottom: 170px;
  }

  &__info {
    width: 445px;
    height: 236px;
    flex-shrink: 0;
    padding: 20px;
    background-image: url('../img/prizes-bg.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

    @include media-lg {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 25px;
      padding: 30px 20px 35px 20px;
      background-image: url('../img/info-bg-mobile.png');
      background-repeat: repeat-x;
      background-size: auto 100%;
    }
  }

  &__title {
    margin-bottom: 25px;
    color: #3f3a31;
    font-family: 'HelveticaNeueBlackCondensed', sans-serif;
    font-size: 43px;
    font-weight: 900;
    text-transform: uppercase;

    @include media-lg {
      color: #3F3A31;
      margin-bottom: 5px;
      font-size: 20px;
      text-align: center;
    }
  }

  &__description {
    max-width: 350px;
    color: #3f3a31;
    font-size: 18px;

    @include media-lg {
      max-width: 480px;
      color: #8B7454;
      font-size: 12px;
      text-align: center;
    }

    @media screen and (max-width: 600px) {
      max-width: 280px;
    }
  }

  &__mail {
    width: 520px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin: 145px 70px 0 -40px;
    padding: 10px;
    background-image: url('../img/mail-bg.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

    @media screen and (max-width: 1650px) {
      margin-top: 70px;
    }

    @include media-xl {
      margin-right: 0;
    }

    @include media-lg {
      width: 348px;
      height: 98px;
      position: absolute;
      top: 270px;
      right: calc(50% - 50px);
      background-image: url('../img/mail-bg-2.png');
    }

    @media screen and (max-width: 650px) {
      display: none;
    }

    p {
      max-width: 350px;
      display: flex;
      flex-direction: column;
      color: #fff;
      font-family: 'HelveticaNeueBoldCondensed', sans-serif;
      font-size: 23px;
      font-weight: 700;
      text-transform: uppercase;

      @include media-lg {
        font-size: 14px;
        text-align: center;
      }
    }

    a {
      color: #fff;
      text-decoration: underline;
    }
  }

  &__prize-cup-1 {
    margin-top: -35px;

    @include media-lg {
      display: none;
    }
  }

  &__prize-cup-2 {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    @include media-lg {
      display: block;
      left: calc(50% - 40px);
      transform: translateX(0);
    }

    @media screen and (max-width: 650px) {
      left: calc(50% - 60px);
      bottom: -50px;
      transform: scale(.55);
    }
  }

  &__slogan {
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 10px 20px;
    background-image: url('../img/prizes-slogan-bg.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    color: #3f3a31;
    font-family: 'HelveticaNeueBoldCondensed', sans-serif;
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;

    @include media-lg {
      width: 356px;
      height: 67px;
      background-image: url('../img/prizes-slogan-mobile-bg.png');
      color: #fff;
      font-size: 14px;
      text-align: center;
    }

    @media screen and (max-width: 650px) {
      display: none;
    }
  }

  &__mobile-slogan {
    width: 230px;
    height: 180px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: absolute;
    bottom: 0;
    left: calc(50% - 50px);
    transform: translateX(-50%);
    padding: 0 15px;
    background-image: url('../img/mobile-slogan-bg.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    color: #fff;
    font-family: 'HelveticaNeueBlackCondensed', sans-serif;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;

    @media screen and (max-width: 650px) {
      display: flex;
    }

    &_small {
      font-size: 12px;
    }

    a {
      color: #fff;
      text-decoration: underline;
    }
  }
}
