.rating {
  display: flex;
  padding: 0 50px;
  overflow: hidden;

  @include media-lg {
    flex-direction: column;
    padding: 0;
  }

  &__speakers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px -20px;
    overflow: hidden;

    @include media-lg {
      max-height: 290px;
      margin: 0;
      margin-right: 10px;
      padding: 0 18px !important;
      overflow-y: auto;
      justify-content: space-evenly;
    }

    @include media-sm {
      max-height: 600px;
      justify-content: flex-start;
      margin-right: 10px;
      padding: 0 12px !important;
    }
  }

  &__speaker {
    margin: 15px 20px;
    margin-right: -15px;

    @include media-xl {
      width: 50%;
      justify-content: center;
      margin: 15px 0;
    }

    @media screen and (max-width: 700px) {
      width: 100%;
    }

    @include media-sm {
      justify-content: flex-start;
    }
  }
}

.about-card {
  width: 292px;
  height: 270px;
  flex-shrink: 0;
  margin-right: 100px;
  padding: 20px 25px 20px 30px;
  background-image: url('../img/info-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  color: #3f3a31;

  @include media-lg {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    margin-bottom: 20px;
    padding: 30px 20px 35px 20px;
    background-image: url('../img/info-bg-mobile.png');
    background-repeat: repeat-x;
    background-size: auto 100%;
  }

  &__title {
    margin-bottom: 20px;
    font-family: 'HelveticaNeueBlackCondensed', sans-serif;
    font-size: 43px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: .95;

    @include media-lg {
      margin-bottom: 5px;
      color: #8B7454;
      font-size: 20px;
      text-align: center;
    }
  }

  &__description {
    font-size: 18px;
    line-height: 1.2;

    @include media-lg {
      max-width: 470px;
      color: #8B7454;
      font-size: 14px;
      text-align: center;
    }
  }
}

.speaker-card {
  display: flex;

  &__photo {
    width: 155px;
    height: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/speaker-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    @include media-xl {
      width: 135px;
      height: 135px;
    }

    img {
      width: 80%;
      height: 80%;
      object-fit: cover;
    }
  }

  &__info {
    padding-top: 30px;

    @include media-xl {
      padding-top: 20px;
    }
  }

  &__name {
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    padding: 0 10px;
    background-color: #8c7454;
    color: #e9deca;
    font-family: 'HelveticaNeueBoldCondensed', sans-serif;
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: .95;
    transform: translateX(-30px);

    @include media-xl {
      width: auto;
      height: auto;
      position: absolute;
      background-color: #D2BA91;
      color: #F7EEDD;
      flex-direction: row;
      padding: 6px;
      font-size: 14px;
    }

    span {
      @include media-xl {
        &:first-child {
          margin-right: 4px;
        }
      }
    }
  }

  &__place,
  &__likes {
    margin-left: 15px;
    color: #3F3A31;
    font-size: 16px;

    @include media-xl {
      margin-left: 10px;
      color: #3F3A31;
      font-size: 12px;
    }

    span {
      font-size: 30px;

      @include media-xl {
        font-size: 20px;
      }
    }
  }

  &__place {
    @include media-xl {
      margin-top: 35px;
    }
  }
}
