.reg {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  padding: 70px 70px;
  background-image: url('../img/main-bg-2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include media-xl {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  @include media-sm {
    align-items: flex-start;
    padding-top: 50px;
  }

  &__wrapper {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;

    @include media-xl {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__form {
    width: 1073px;
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    background-image: url('../img/reg-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    @include media-xl {
      width: 332px;
      height: 400px;
      padding: 0 25px;
      background-image: url('../img/reg-bg-mobile.png');
    }

    &_login {
      @include media-xl {
        width: 330px;
        height: 332px;
        padding: 0 25px;
        padding-bottom: 0;
        background-image: url('../img/reg-bg-mobile-2.png');
      }
    }
  }

  &__label {
    margin-bottom: 15px;
    color: #f7eedc;
    font-size: 43px;
    text-transform: uppercase;

    @include media-xl {
      color: #fff;
      font-size: 24px;
      font-family: 'HelveticaNeueBlackCondensed', sans-serif;
      font-weight: 900;
      text-align: center;
    }
  }

  .input-text {
    width: 100% !important;
  }

  &__submit {
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;

    @include media-xl {
      flex-direction: column;
    }
  }

  &__check {
    max-width: 530px;
    display: flex;
    align-items: flex-start;
    margin-right: 10px;

    @include media-xl {
      margin-bottom: 35px;
      margin-right: 0;
    }

    .custom-checkbox {
      flex-shrink: 0;
      margin-top: 10px;
      margin-right: 15px;
    }

    p,
    a {
      color: #f7eedc;
      font-size: 18px;

      @include media-xl {
        color: #fff;
        font-size: 12px;
      }
    }

    a {
      text-decoration: underline;
    }
  }

  &__link {
    margin: 0 auto;
    color: #f7eedc;
    font-size: 16px;
    text-decoration: underline;

    @include media-xl {
      color: #fff;
      font-size: 12px;
    }
  }

  // Input text
  .input-text {
    width: 280px;
    height: 50px;
    flex-shrink: 0;
    margin-bottom: 20px;
    padding: 0 20px;
    border: none;
    outline: none;
    background-color: #F7EEDD;
    color: #8C7454;
    font-size: 18px;

    @include media-xl {
      height: 44px;
    }
  }

  // Reg btn
  .reg-btn {
    width: 190px;
    height: 40px;
    flex-shrink: 0;
    margin-left: auto;
    background-color: transparent;
    background-image: url('../img/btn-submit-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: #8c7454;
    font-size: 18px;
    text-transform: uppercase;

    @include media-xl {
      margin-left: 0;
      align-self: center;
      font-family: 'HelveticaNeueBoldCondensed', sans-serif;
      font-weight: 700;
      font-size: 16px;
    }
  }

  .error-text {
    margin-bottom: 15px;
    color: #FE7A7A;
    font-size: 12px;
    text-align: center;
  }

  .link-forgot-pass {
    margin-bottom: 15px;
    color: #FE7A7A;
    font-size: 12px;
    text-align: center;
    text-decoration: underline;
  }

  // Reg success
  .reg-success {
    width: 332px;
    height: 248px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 70px;
    padding: 0 20px;
    background-image: url('../img/reg-success-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    @include media-xl{
      margin-top: 0;
    }

    &__title {
      margin-bottom: 25px;
      color: #fff;
      font-size: 24px;
      font-family: 'HelveticaNeueBlackCondensed', sans-serif;
      font-weight: 900;
      text-align: center;
      text-transform: uppercase;
    }

    .reg-btn {
      margin-left: 0;
    }
  }

  // Pass reset
  .pass-reset {
    width: 332px;
    height: 268px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 70px;
    padding: 0 20px;
    background-image: url('../img/pass-reset-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    @include media-xl{
      margin-top: 0;
    }

    &__title {
      margin-bottom: 10px;
      color: #fff;
      font-size: 24px;
      font-family: 'HelveticaNeueBlackCondensed', sans-serif;
      font-weight: 900;
      text-align: center;
      text-transform: uppercase;
    }

    &__info {
      max-width: 180px;
      margin-bottom: 15px;
      color: #fff;
      font-size: 12px;
      text-align: center;
    }

    .reg-btn {
      margin-left: 0;
    }
  }

  // Pass restore
  .pass-restore {
    width: 332px;
    height: 214px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 70px;
    padding: 0 20px;
    background-image: url('../img/pass-restore-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    @include media-xl{
      margin-top: 0;
    }

    &__title {
      margin-bottom: 17px;
      color: #fff;
      font-size: 24px;
      font-family: 'HelveticaNeueBlackCondensed', sans-serif;
      font-weight: 900;
      text-align: center;
      text-transform: uppercase;
    }

    &__info {
      max-width: 250px;
      margin-bottom: 25px;
      color: #fff;
      font-size: 12px;
      text-align: center;
    }

    .reg-btn {
      margin-left: 0;
    }
  }
}
