.sessions {
  display: flex;
  margin-bottom: 30px;
  padding: 0 50px;

  @include media-lg {
    flex-direction: column;
    padding: 0;
  }

  &__about {
    width: 292px;
    height: 170px;
    flex-shrink: 0;
    margin-right: 40px;
    padding: 20px 25px 20px 30px;
    background-image: url('../img/session-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: #3f3a31;

    @include media-lg {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 0;
      margin-bottom: 20px;
      padding: 30px 20px 35px 20px;
      background-image: url('../img/info-bg-mobile.png');
      background-repeat: repeat-x;
      background-size: auto 100%;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-family: 'HelveticaNeueBlackCondensed', sans-serif;
    font-size: 43px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: .95;

    @include media-lg {
      margin-bottom: 5px;
      color: #8B7454;
      font-size: 20px;
      text-align: center;
    }
  }

  &__description {
    font-size: 18px;
    line-height: 1.2;

    @include media-lg {
      max-width: 350px;
      color: #8B7454;
      font-size: 14px;
      text-align: center;
    }
  }

  &__sessions-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -20px -10px;

    @include media-lg {
      margin: 0;
      padding: 0 18px;
    }

    @include media-sm {
      padding: 0 12px;
    }
  }

  &__session {
    margin: 20px 10px;

    @include media-lg {
      margin: 10px 0;
    }
  }

  .session-card {
    width: 480px;
    height: 170px;
    flex-shrink: 0;
    position: relative;
    padding: 20px 30px;
    background-image: url('../img/session-card-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    @include media-lg {
      width: 100%;
      height: auto;
      padding: 10px;
      border: 2px solid #D2BA91;
      background-image: none;
    }

    &__title {
      margin-bottom: 5px;
      color: #8c7454;
      font-family: 'HelveticaNeueBoldCondensed', sans-serif;
      font-size: 23px;
      font-weight: 700;
      text-transform: uppercase;

      @include media-lg {
        margin-bottom: 10px;
        font-size: 14px;
      }
    }

    &__description {
      margin-bottom: 15px;
      color: #3f3a31;
      font-size: 18px;

      @include media-lg {
        margin-bottom: 10px;
        color: #8c7454;
        font-size: 14px;
      }
    }

    &__btn-members {
      width: 325px;
      height: 40px;
      position: relative;
      padding-left: 10px;
      background-image: url('../img/btn-bg.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      color: #8B7454;
      font-family: 'HelveticaNeueBoldCondensed', sans-serif;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: left;

      &::after {
        content: '';
        width: 14px;
        height: 14px;
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        background-image: url('../img/arrow-down-2.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
      }
    }

    &__members-list {
      position: absolute;
      bottom: 10px;
      left: 5px;
      z-index: 99;
      transform: translateY(100%);

      @include media-md {
        left: 10px;
      }
    }
  }
}
