@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-Roman.eot');
  src: url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
      url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
      url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
      url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueBoldCondensed';
  src: url('../fonts/HelveticaNeueBoldCondensed.eot');
  src: url('../fonts/HelveticaNeueBoldCondensed.eot?#iefix') format('embedded-opentype'),
      url('../fonts/HelveticaNeueBoldCondensed.woff2') format('woff2'),
      url('../fonts/HelveticaNeueBoldCondensed.woff') format('woff'),
      url('../fonts/HelveticaNeueBoldCondensed.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueBlackCondensed';
  src: url('../fonts/HelveticaNeueBlackCondensed.eot');
  src: url('../fonts/HelveticaNeueBlackCondensed.eot?#iefix') format('embedded-opentype'),
      url('../fonts/HelveticaNeueBlackCondensed.woff2') format('woff2'),
      url('../fonts/HelveticaNeueBlackCondensed.woff') format('woff'),
      url('../fonts/HelveticaNeueBlackCondensed.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
