// Partials
@import './fonts';
@import './variables';
@import './media-queries';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background-color: #fff;
  color: #f7eedc;
  font-family: 'HelveticaNeueCyr', sans-serif;
}

main {
  padding: 30px 0;
  background-color: #fcf9f4;

  background-image: url('../img/main-bg.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: left bottom;

  overflow: hidden;

  @include media-lg {
    background-color: #fff;
    background-image: none;
  }
}

section {
  max-width: 1920px;
  margin: 0 auto;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

// Transition
a {
  transition: color .2s ease-in-out;
}

button {
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

svg {
  transition: fill .2s ease-in-out;
}

// Focus Visible

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

* {
  &:focus {
    outline: #000 solid 1px;
    outline-offset: -1px;
  }
}
